name: Pacman

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pacman:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Run Pacman
      run: echo "Pacman workflow running"
